.hboxAll{
	-fx-background-color:black;
}
.buttonLay{
	-fx-pref-width:150;
	-fx-pref-height:80;
	-fx-background-color:black;
	-fx-background-radius:45;
	-fx-border-radius:45;
	-fx-font-size:13;
	-fx-font-weight:bold;
	-fx-text-fill:#ffffff;
	-fx-effect: innershadow(gaussian, rgba(22, 133, 96, 0.8), 30, 0.5, 0, 0, 0.4);
}
.buttonLay:hover{
	-fx-border-color:#168560;
	-fx-cursor:hand;
	-fx-effect: dropshadow(gaussian, #168560, 30, 0.5, 0, 0);
}
.labelLay{
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
	-fx-font-size:20;
}
.vbox_2{
	-fx-background-color:black;
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-border-style:solid;
	-fx-border-color:#168560;
	-fx-effect: innershadow(gaussian, rgba(22, 133, 96, 0.8), 30, 0.5, 0, 0, 0.4);
}
.vbox_1{
	-fx-background-color:black;
	-fx-border-style:solid;
	-fx-border-width:2;
	-fx-border-color:#0B412F;
	-fx-effect: innershadow(gaussian, rgba(22, 133, 96, 0.8), 30, 0.5, 0, 0, 0.4);
}
.hboxLay{
	-fx-background-color:#363636;
	-fx-pref-width:180;
	-fx-pref-height:80;
	-fx-background-radius:45;
	-fx-border-radius:45;
	-fx-alignment:CENTER;
}
.image{
	-fx-effect: dropshadow(gaussian, gray, 25, 0.7, 0, 0);
}
.labelTit{
	-fx-font-size:30;
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
}
.labelMin{
	-fx-font-size:16;
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
}
.textField{
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-text-fill:black;
	-fx-pref-width:250;
	-fx-pref-height:30;
	-fx-font-size:16;
	-fx-background-color:rgba(255,255,255,0);
	-fx-border-style:solid;
	-fx-border-color:#168560;
	-fx-border-width:2;
	-fx-text-fill:white;
}
.textFieldSearch{
	-fx-border-radius:45;
	-fx-background-radius:45;
	-fx-text-fill:black;
	-fx-pref-width:300;
	-fx-pref-height:30;
	-fx-font-size:16;
	-fx-background-color:rgba(255,255,255,0);
	-fx-border-style:solid;
	-fx-border-color:#168560;
	-fx-border-width:2;
	-fx-text-fill:white;
}
.buttonCom{
	-fx-pref-width:130;
	-fx-pref-height:40;
	-fx-background-color:black;
	-fx-background-radius:45;
	-fx-border-radius:45;
	-fx-font-size:16;
	-fx-font-weight:bold;
	-fx-text-fill:#ffffff;
	-fx-border-color:#168560;
	-fx-border-style:solid;
	-fx-border-width:2;
	-fx-effect: innershadow(gaussian, rgba(22, 133, 96, 0.8), 30, 0.5, 0, 0, 0.4);
}
.buttonCom:hover{
	-fx-cursor:hand;
	-fx-effect: dropshadow(gaussian, #168560, 30, 0.5, 0, 0);
}
.tableView{
	-fx-pref-height:300;
	-fx-alignment:CENTER;
	-fx-border-style:solid;
	-fx-border-width:2;
}
