.buttonLay{
	-fx-pref-width:150;
	-fx-pref-height:50;
	-fx-background-color:rgba(255,255,255,0);
	-fx-text-fill:#ffffff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-alignment:CENTER;
}
.buttonLay:hover{
	-fx-cursor:hand;
	-fx-background-color:#ffffff;
	-fx-border-color:#ffffff;
	-fx-border-width:4;
	-fx-text-fill:#2B579A;
}
.buttonBack{
    -fx-pref-width:130;
	-fx-pref-height:40;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#2B579A;
	-fx-border-color:#2B579A;
	-fx-border-style:solid;
	-fx-border-width:2;
}
.buttonBack:hover{
	-fx-cursor:hand;
	-fx-background-color:#2B579A;
	-fx-text-fill:#ffffff;
}
.labelLay{
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
	-fx-font-size:16;
}
.alterHbox{
	-fx-border-style:none none solid none;
	-fx-border-color:#EFEFEF;
	-fx-border-width:0 0 2 0;
}
.alterVbox{
	-fx-border-style:none none none solid;
	-fx-border-color:#EFEFEF;
	-fx-border-width:0 0 0 2;
}
.vbox_1{
	-fx-background-color:#2B579A;
	-fx-background-radius:8;
	-fx-border-radius:8;
}
.vbox_2{
	-fx-background-color:#ffffff;
	-fx-background-radius:8;
	-fx-border-radius:8;
}
.hboxLay{
	-fx-alignment:CENTER_LEFT;
}
.labelTit{
	-fx-font-size:40;
	-fx-text-fill:#2B579A;
	-fx-font-weight:bold;
}
.labelLay{
	-fx-font-size:20;
	-fx-text-fill:#2B579A;
	-fx-font-weight:bold;
}
.textfield{
	-fx-pref-width:500;
	-fx-pref-height:40;
	-fx-border-color:#168560;
	-fx-border-radius:20;
	-fx-background-radius:20;
	-fx-border-color:#2B579A;
	-fx-border-width:2;
	-fx-effect: dropshadow(gaussian, #2b579a, 0, 1, 5, 5);
	-fx-text-fill:black;
}
.textField{
	-fx-pref-width:150;
	-fx-pref-height:40;
	-fx-border-color:#168560;
	-fx-border-radius:20;
	-fx-background-radius:20;
	-fx-border-color:#2B579A;
	-fx-border-width:2;
	-fx-effect: dropshadow(gaussian, #2b579a, 0, 1, 5, 5);
	-fx-text-fill:black;
}
.buttonAdd{
	-fx-pref-width:130;
	-fx-pref-height:40;
	-fx-background-radius:45;
	-fx-border-radius:45;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#2B579A;
	-fx-border-color:#2B579A;
	-fx-border-style:solid;
	-fx-border-width:2;
	-fx-effect: dropshadow(gaussian, #2b579a, 0, 1, 5, 5);
}
.buttonAdd:hover{
	-fx-cursor:hand;
	-fx-background-color:#2B579A;
	-fx-text-fill:#ffffff;
	-fx-effect: dropshadow(gaussian, #2b579a, 0, 1, 0, 0);
}
.progress-indicator {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
}
.vboxFind{
	-fx-background-color:#ffffff;
	-fx-text-fill:black;
	-fx-font-weight:bold;
	-fx-font-size:12;
	-fx-border-style:solid;
	-fx-wrap-text:true;
	-fx-font-family: Afacad Flux;
}

.tableView{
	-fx-pref-height:600;
	-fx-pref-width:800;
	-fx-alignment:CENTER;
	-fx-border-style:solid;
	-fx-border-width:2;
	-fx-background-radius:8;
	-fx-border-radius:8;
	-fx-effect: dropshadow(gaussian, #2b579a, 0, 1, 5, 5);
}
